# =========================
# Node.js
# =========================
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
**/.env

.env
.env.local
.env.development.local
.env.test.local

# Logs
logs/
*.log
*.log.*
nohup.out

# =========================
# Build outputs
# =========================
dist/
build/
coverage/

# Vite cache
.vite/

# Temporary files
*.tmp
*.temp
*.swp

# =========================
# Editor files
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml
docker-compose.dev.yml

# Skip compiled containers

# =========================
# Microservices
# =========================

# Ignore node_modules inside services
services/**/node_modules/

# Ignore runtime files
services/**/logs/
services/**/dist/
services/**/build/

# =========================
# Frontend (Vite)
# =========================
client/node_modules/
client/dist/
client/.vite/

# =========================
# Misc
# =========================
*.cache
*.pid


# Ignore folder cấu hình Monitor và Nginx (Infrastructure)
infrastructure/k8s/monitor/
infrastructure/k8s/nginx/

# Ignore các file yaml cấu hình riêng lẻ không phải Service chính
infrastructure/k8s/alert-config.yaml
infrastructure/k8s/ingress.yaml
infrastructure/k8s/monitor-client.yaml
infrastructure/k8s/monitor-services.yaml