networks:
  health-network:
    driver: bridge

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - activity-service
      - health-metrics-service
      - progress-service
    networks:
      - health-network

  user-service:
    build: ./services/user-service
    ports:
      - "4001:4001"
    networks:
      - health-network

  activity-service:
    build: ./services/activity-service
    ports:
      - "4002:4002"
    networks:
      - health-network

  health-metrics-service:
    build: ./services/health-metrics-service
    ports:
      - "4003:4003"
    networks:
      - health-network

  progress-service:
    build: ./services/progress-service
    ports:
      - "4004:4004"
    networks:
      - health-network
  client:
    build: ./client
    ports:
      - "5173:80"
    networks:
      - health-network
    depends_on:
      - api-gateway