version: "3.9"

services:
  # ---------------- RABBITMQ ----------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - health-network

  # ---------------- USER SERVICE ----------------
  user-service:
    build: ./services/user-service
    container_name: user-service
    ports:
      - "4001:4001"
    env_file:
      - ./services/user-service/.env
    networks:
      - health-network

  # ---------------- ACTIVITY SERVICE ----------------
  activity-service:
    build: ./services/activity-service
    container_name: activity-service
    ports:
      - "4002:4002"
    env_file:
      - ./services/activity-service/.env
    networks:
      - health-network

  # ---------------- HEALTH METRICS SERVICE ----------------
  health-metrics-service:
    build: ./services/health-metrics-service
    container_name: health-metrics-service
    ports:
      - "4003:4003"
    env_file:
      - ./services/health-metrics-service/.env
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      - rabbitmq
    networks:
      - health-network

  # ---------------- PROGRESS SERVICE ----------------
  progress-service:
    build: ./services/progress-service
    container_name: progress-service
    ports:
      - "4004:4004"
    env_file:
      - ./services/progress-service/.env
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      - rabbitmq
    networks:
      - health-network

  # ---------------- API GATEWAY ----------------
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - JWT_SECRET=superSecretKey123
      - USER_SERVICE_URL=http://user-service:4001/api/users
      - ACTIVITY_SERVICE_URL=http://activity-service:4002/api/activities
      - METRIC_SERVICE_URL=http://health-metrics-service:4003/api/metrics
      - PROGRESS_SERVICE_URL=http://progress-service:4004/api/progress
    depends_on:
      - user-service
      - activity-service
      - health-metrics-service
      - progress-service
    networks:
      - health-network

  # ---------------- CLIENT ----------------
  client:
    build: ./client
    container_name: health-tracking-client
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://localhost:8080/api
    depends_on:
      - api-gateway
    networks:
      - health-network

# ---------------- NETWORK ----------------
networks:
  health-network:
    driver: bridge
