apiVersion: apps/v1
kind: Deployment
metadata:
  name: activity-service
  namespace: health-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: activity-service
  template:
    metadata:
      labels:
        app: activity-service
    spec:
      containers:
        - name: activity-service
          image: acrhealth.azurecr.io/activity-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4002
          env:
            - name: PORT
              value: "4002"
            - name: DB_URI
              valueFrom:
                secretKeyRef:
                  name: mongo-secret 
                  key: DB_URI_ACTIVITY
---
apiVersion: v1
kind: Service
metadata:
  name: activity-service
  namespace: health-tracking
spec:
  selector:
    app: activity-service
  ports:
    - port: 4002
      targetPort: 4002
  type: ClusterIP