apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: health-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: acrhealth.azurecr.io/client:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
        - name: nginx-exporter
          image: nginx/nginx-prometheus-exporter:0.11.0
          args:
            - -nginx.scrape-uri=http://127.0.0.1:80/stub_status #đọc dữ liệu từ config /stub_status trong nginx conf client
          ports:
            - containerPort: 9113
              name: metrics
---
apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: health-tracking
  labels:
    app: client
    release: monitoring-stack
spec:
  selector:
    app: client
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
    - name: metrics
      port: 9113
      targetPort: 9113
