apiVersion: apps/v1
kind: Deployment
metadata:
  name: progress-service
  namespace: health-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: progress-service
  template:
    metadata:
      labels:
        app: progress-service
    spec:
      containers:
        - name: progress-service
          image: acrhealth.azurecr.io/progress-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4004       
          env:
            - name: PORT
              value: "4004"
            - name: DB_URI
              valueFrom:
                secretKeyRef:
                  name: mongo-secret   
                  key: DB_URI_PROGRESS
            - name: RABBITMQ_URL 
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret        
                  key: RABBITMQ_CONNECTION_STRING
---
apiVersion: v1
kind: Service
metadata:
  name: progress-service
  namespace: health-tracking
spec:
  selector:
    app: progress-service
  ports:
    - port: 4004
      targetPort: 4004
  type: ClusterIP
