apiVersion: apps/v1
kind: Deployment
metadata:
  name: progress-service
  namespace: health-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: progress-service
  template:
    metadata:
      labels:
        app: progress-service
    spec:
      containers:
        - name: progress-service
          image: vuthanhdat04/health-tracking-images:progress-service
          imagePullPolicy: Always
          ports:
            - containerPort: 4004        # đúng với app.listen(...)
          env:
            - name: PORT
              value: "4004"
            # ĐỔI TÊN BIẾN CHO KHỚP CODE (VD: DB_URI, MONGO_URI, ...)
            - name: DB_URI
              value: "mongodb+srv://n22dccn063_db_user:Quang98912004@cluster0.mqqf8x4.mongodb.net/health-tracker?appName=Cluster0"
            - name: RABBITMQ_URL
              value: amqps://yvqnuvac:dwRtrRr4bO5CL91qitakhNUtlqmh3HQV@duck.lmq.cloudamqp.com/yvqnuvac
---
apiVersion: v1
kind: Service
metadata:
  name: progress-service
  namespace: health-tracking
spec:
  selector:
    app: progress-service
  ports:
    - port: 4004
      targetPort: 4004
  type: ClusterIP
