apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: health-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: acrhealth.azurecr.io/user-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4001      
          env:
            - name: PORT
              value: "4001"
            - name: DB_URI
              valueFrom:
                secretKeyRef:
                  name: mongo-secret   
                  key: DB_URI_USER
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: health-tracking
spec:
  selector:
    app: user-service
  ports:
    - port: 4001
      targetPort: 4001
  type: ClusterIP
