apiVersion: apps/v1
kind: Deployment
metadata:
  name: activity-service
  namespace: health-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: activity-service
  template:
    metadata:
      labels:
        app: activity-service
    spec:
      containers:
      - name: activity-service
        image: acrhealth.azurecr.io/activity-service:IMAGE_TAG
        ports:
        - containerPort: 4002
