apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: health-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: acrhealth.azurecr.io/client:IMAGE_TAG
        ports:
        - containerPort: 80
