apiVersion: v1
kind: Service
metadata:
  name: progress-service
  namespace: health-tracking
spec:
  selector:
    app: progress-service
  ports:
    - port: 4004
      targetPort: 4004
  type: ClusterIP
