apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: user-service-hpa
  namespace: health-tracking
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: user-service
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 10  # Chờ 10s
      policies:
      - type: Percent
        value: 100        # Cho phép giảm tối đa 100% số pod dư thừa cùng lúc
        periodSeconds: 2 # Tính toán mỗi 2 giây