# File này cấu hình cho công cụ helm, không phải file manifest chuẩn của k8s
# 1. Cấu hình Prometheus 
prometheus:
  prometheusSpec:
    # --- HYBRID CONFIG: Đẩy dữ liệu lên Grafana Cloud ---
    remoteWrite:
      - url: "https://prometheus-prod-37-prod-ap-southeast-1.grafana.net/api/prom/push"
        basicAuth:
          username: "2836363"
          password: "glc_eyJvIjoiMTYwNTYwMiIsIm4iOiJzdGFjay0xNDU2MDY1LWludGVncmF0aW9uLWhlYWx0aC10cmFja2luZy10b2tlbi1oZWFsdGgtdHJhY2tpbmctdG9rZW4iLCJrIjoid0Q2dXg0S0QyNjY3TEFKajhwNnVMNTFnIiwibSI6eyJyIjoicHJvZC1hcC1zb3V0aGVhc3QtMSJ9fQ=="

    # --- LOCAL CONFIG: Tối ưu cho gói Student ---
    # Chỉ lưu dữ liệu local trong 2 ngày để tiết kiệm ổ cứng, còn lại xem trên Cloud
    retention: 2d
    
    # Giới hạn RAM/CPU để không làm chết Node
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m
    
    # Cấp 2GB ổ cứng Azure Disk để làm bộ đệm
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi

# 2. Cấu hình Grafana Local (Giao diện quản trị tại cụm)
grafana:
  enabled: true
  
  # Mật khẩu đăng nhập: admin / admin123 
  adminPassword: "admin123"
  
  # Timezone Việt Nam
  defaultDashboardsTimezone: "Asia/Ho_Chi_Minh"
  
  # Cấu hình Service dạng ClusterIP 
  service:
    type: ClusterIP
    port: 80
  
  # Giới hạn tài nguyên Grafana
  resources:
    requests:
      memory: 128Mi
      cpu: 50m
      
  # Lưu dashboard khi pod restart
  persistence:
    enabled: true
    size: 1Gi

# 3. Tắt các thành phần không cần thiết để tiết kiệm tài nguyên tối đa
alertmanager:
  enabled: false # Dùng Alert của Cloud chứ không dùng ở local
kubeStateMetrics:
  enabled: true  # Giữ lại để đo trạng thái Pods (Running/Failed...)
nodeExporter:
  enabled: true  # Giữ lại để đo CPU/RAM của Server thật